@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/icomoon.eot);
    src: url(../fonts/icomoon.eot) format('embedded-opentype'),
    url(../fonts/icomoon.ttf) format('truetype'),
    url(../fonts/icomoon.woff) format('woff'),
    url(../fonts/icomoon.svg) format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vip:before {
    content: "\e901";
}

.icon-vip2:before {
    content: "\e900";
}

.icon-accessibility:before {
    content: "\e84e";
}

.icon-announcement:before {
    content: "\e85a";
}

.icon-assignment:before {
    content: "\e85d";
}

.icon-user:before {
    content: "\e85e";
}

.icon-keyboard:before {
    content: "\e312";
}

.icon-library-books:before {
    content: "\e02f";
}

.icon-live-tv:before {
    content: "\e639";
}

.icon-mall:before {
    content: "\e54c";
}

.icon-message:before {
    content: "\e0c9";
}

.icon-person-add:before {
    content: "\e7fe";
}

.icon-play:before {
    content: "\e038";
}

.icon-emoji:before {
    content: "\e815";
}

.icon-settings:before {
    content: "\e8b8";
}

.icon-subscriptions:before {
    content: "\e064";
}

.icon-videocam:before {
    content: "\e04b";
}

.icon-female:before {
    content: "\f221";
}

.icon-male:before {
    content: "\f222";
}


/* === Cards === */
.cards-list ul,
.card .list-block ul {
  background: none;
}
.cards-list > ul:before,
.card .list-block > ul:before {
  display: none;
}
.cards-list > ul:after,
.card .list-block > ul:after {
  display: none;
}
.card {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 10px;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
}
.card .list-block,
.card .content-block {
  margin: 0;
}
.row:not(.no-gutter) .col > .card {
  margin-left: 0;
  margin-right: 0;
}
.card-content {
  position: relative;
}
.card-content-inner {
  padding: 15px;
  position: relative;
}
.card-content-inner > p:first-child {
  margin-top: 0;
}
.card-content-inner > p:last-child {
  margin-bottom: 0;
}
.card-content-inner > .list-block,
.card-content-inner > .content-block {
  margin: -15px;
}
.card-header,
.card-footer {
  min-height: 44px;
  position: relative;
  padding: 10px 15px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.card-header[valign="top"],
.card-footer[valign="top"] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.card-header[valign="bottom"],
.card-footer[valign="bottom"] {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.card-header a.link,
.card-footer a.link {
  line-height: 44px;
  height: 44px;
  text-decoration: none;
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
html:not(.watch-active-state) .card-header a.link:active,
html:not(.watch-active-state) .card-footer a.link:active,
.card-header a.link.active-state,
.card-footer a.link.active-state {
  opacity: 0.3;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.card-header a.link i + span,
.card-footer a.link i + span,
.card-header a.link i + i,
.card-footer a.link i + i,
.card-header a.link span + i,
.card-footer a.link span + i,
.card-header a.link span + span,
.card-footer a.link span + span {
  margin-left: 7px;
}
.card-header a.link i.icon,
.card-footer a.link i.icon {
  display: block;
}
.card-header a.icon-only,
.card-footer a.icon-only {
  min-width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
}
.card-header {
  border-radius: 2px 2px 0 0;
  font-size: 17px;
}
.card-header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.pixel-ratio-2 .card-header:after {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.pixel-ratio-3 .card-header:after {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.card-header.no-border:after {
  display: none;
}
.card-footer {
  border-radius: 0 0 2px 2px;
  color: #6d6d72;
}
.card-footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #e1e1e1;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
html.pixel-ratio-2 .card-footer:before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
html.pixel-ratio-3 .card-footer:before {
  -webkit-transform: scaleY(0.33);
  transform: scaleY(0.33);
}
.card-footer.no-border:before {
  display: none;
}


/* === Messages === */

.messages-content {
    background: #eee;
    padding-bottom: 50px;
}

.messages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

.messages-date {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;

    margin: 10px 15px;

    text-align: center;
}

.messages-date span {
    font-weight: 400;
}

.message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 80%;
    margin: 0 8px 8px 8px;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

.message:first-child {
    margin-top: 8px;
}

.message.message-pic img {
    display: block;

    max-width: 100%;
    height: auto;
}

.message-name,
.message-label,
.message-date,
.messages-date {
    color: rgba(0, 0, 0, .51);
}

.message-name {
    font-size: 12px;
    line-height: 1;

    margin-top: 7px;
    margin-bottom: 2px;
}

.message-hide-name .message-name {
    display: none;
}

.message-label {
    font-size: 12px;
    line-height: 1;

    margin-top: 4px;
}

.message-hide-label .message-label {
    display: none;
}

.message-avatar {
    position: relative;
    top: 1px;

    width: 35px;
    height: 35px;
    margin-top: -35px;

    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;

    opacity: 1;
    border-radius: 100%;
    background-size: cover;
}

.message-hide-avatar .message-avatar {
    opacity: 0;
}

.message-text {
    font-size: 14px;
    line-height: 1.2;

    position: relative;

    box-sizing: border-box;
    min-width: 35px;
    min-height: 35px;
    padding: 4px 8px;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    word-break: break-word;

    color: #333;
    border-radius: 2px;
}

.message-pic .message-text {
    padding: 8px;
}

.message-date {
    font-size: 12px;

    margin-top: 4px;
}

.message-pic img+.message-date {
    margin-top: 8px;
}

.message-sent {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.message-sent .message-name,
.message-sent .message-label {
    margin-right: 8px;
}

.message-sent .message-text {
    margin-right: 8px;
    margin-left: auto;

    border-radius: 2px 2px 0 2px;
    background-color: #c8e6c9;
}

.message-sent .message-text:before {
    position: absolute;
    bottom: 0;
    left: 100%;

    width: 0;
    height: 0;

    content: '';

    border-right: 8px solid transparent;
    border-bottom: 8px solid #c8e6c9;
    border-left: 0 solid transparent;
}

.message-sent.message-with-avatar .message-text,
.message-sent.message-with-avatar .message-name,
.message-sent.message-with-avatar .message-label {
    margin-right: 43px;
}

.message-received {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.message-received .message-text {
    margin-left: 8px;

    border-radius: 2px 2px 2px 0;
    background-color: #fff;
}

.message-received .message-text:before {
    position: absolute;
    right: 100%;
    bottom: 0;

    width: 0;
    height: 0;

    content: '';

    border-right: 0 solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}

.message-received .message-name,
.message-received .message-label {
    margin-left: 8px;
}

.message-received.message-with-avatar .message-text,
.message-received.message-with-avatar .message-name,
.message-received.message-with-avatar .message-label {
    margin-left: 43px;
}

.message-appear-from-bottom {
    -webkit-animation: messageAppearFromBottom 400ms;
    animation: messageAppearFromBottom 400ms;
}

.message-appear-from-top {
    -webkit-animation: messageAppearFromTop 400ms;
    animation: messageAppearFromTop 400ms;
}

@-webkit-keyframes messageAppearFromBottom {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes messageAppearFromBottom {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes messageAppearFromTop {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes messageAppearFromTop {
    from {
        transform: translate3d(0, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}


.weui-cell__bd p {
    color: #999;
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon,
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i,
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: #317ef3;
}

#page-user-center .header {
    position: relative;

    overflow: hidden;

    height: 160px;

    background-color: #317ef3;
}

#page-user-center .header .setting-btn {
    font-size: 1.2em;
    line-height: 40px;

    position: absolute;
    right: 0;

    width: 40px;
    height: 40px;

    text-align: center;

    color: #fff;
}


#page-user-center .header .avatar-border {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #eee;
    position: relative;
}

#page-user-center .header .main span.avater {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-size: cover;
}

#page-user-center .header a.vip {
    font-size: 12px;
    font-style: italic;

    position: absolute;
    top: -5px;
    color: #ff7501;
}

#page-user-center .header a.vip:after {
    content: "开通会员";
    vertical-align: 4px;
}

#page-user-center .header a.vip.on i {
    color: #ff7501
}

#page-user-center .header a.vip.on:after {
    content: ""
}

#page-user-center .header i.icon-vip {
    font-size: 24px;

    margin-right: 0px;

    vertical-align: text-bottom;

    color: #ccc;
}

#page-user-center .header i {
    position: relative;
}

#page-user-center .header a.vip>i.icon-vip:before {
    position: relative;
    z-index: 2;
}


#page-user-center .name {
    position: relative;

    margin-top: 5px;

    text-align: center;

    color: #fff;
}

#page-user-center .header span.gender {
    font-style: initial;

    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    margin-left: 5px;
}

i.icon-male,
i.icon-female,
i.icon-unknow {
    font-size: 12px;
    line-height: 15px;

    display: block;

    width: 15px;
    height: 15px;

    text-align: center;

    color: #fff;
    border: 1px #fff solid;
    border-radius: 50%;
    background-color: #3da1f7;
}

i.icon-female {
    background-color: #ff62f6;
}

i.icon-unknow:before {
    content: '?';
}

i.icon-unknow {
    background-color: #eee;
}




#page-user-center .weui-cells {
    margin-top: 0;
}

#page-user-center .weui-cell__bd i {
    font-size: 1.2em;
    /*color: #317EF3;*/
    margin-right: .2em;

    vertical-align: text-bottom;
}



#page-user-info [name='uploadAvatar'] {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    opacity: 0;
    color: #fff;
}


#page-user-info.avatar-cell span {
    display: block;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cutter .img-container {
    width: 100%;
    height: 500px;
}


#cutter .button-wrapper {
    margin-top: 10px;
}


#page-user-info .weui-cell__ft input {
    text-align: right;
}

#page-user-info .avatar-cell span {
    display: block;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


#page-live-center .weui-tab .weui-navbar i {
    font-size: 1rem;

    vertical-align: text-top;
}

#page-live-center {
    height: 100%;
}

#page-live-center .weui-navbar__item.weui-bar__item--on {
    color: #fff;
    background-color: #317ef3;
}

#page-live-center .weui-navbar+.weui-tab__bd {
    position: relative;

    padding-bottom: 50px;
}

#page-live-center .weui-tab__bd-item {
    bottom: 50px;

    width: 100%;
    height: auto;
}

#page-live-center .weui-cells.content {
    margin-top: 0;
}









/*#page-live {
position: relative;
overflow: hidden;
height: 100%;
}*/

#page-live .emoji-wrapper {
    position: absolute;
    z-index: 2;
    bottom: -11em;

    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 0;

    transition: all .3s;
    transition-timing-function: ease-in-out;

    opacity: 1;
}


#page-live .emoji-wrapper .swiper-container {
    width: 100%;
    height: 11em;

    background: #eee;
}

#page-live .emoji-wrapper .swiper-pagination {
    bottom: .25em!important;
}

#page-live .emoji-wrapper .swiper-slide {
    background-color: #fff;
}

#page-live .emoji-wrapper .swiper-slide li {
    display: block;
    float: left;

    width: 12.5%;
}

#page-live .emoji-wrapper .swiper-slide li span {
    position: relative;

    display: block;

    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#page-live .emoji-wrapper .swiper-slide span>em {
    display: block;

    width: 2em;
    height: 2em;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/emoji/qqface2017.jpg);
    background-size: 2em auto;
    vertical-align: middle;
}

#page-live .weui-tabbar {
    box-sizing: border-box;

    transition: bottom .3s;
    transition-timing-function: ease-in-out;

    background-color: #f4f4f4;
    justify-content: space-between;
    align-items: flex-end;

    overflow: hidden;
}

#page-live .content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 200px;

    background-color: #eee;
}








/*打开*/

#page-live.opened-emoji-wrapper .emoji-wrapper {
    bottom: 0;

    visibility: visible;

    height: 11em;

    opacity: 1;
}

#page-live.opened-emoji-wrapper .weui-tabbar {
    bottom: 11em;
}

#page-live.opened-emoji-wrapper .weui-tabbar .icon-emoji:before {
    content: '\e312';
}

#page-live.opened-emoji-wrapper .messages-content {
    padding-bottom: 14em;
}

#page-live .emoji-wrapper .swiper-slide:focus {
    outline: none;
}

#page-live .emoji-wrapper .swiper-container {
    -webkit-tap-highlight-color: transparent;
}

#page-live .weui-tabbar textarea {
    font-size: 16px;
    line-height: 18px;

    display: block;

    box-sizing: border-box;
    width: 95%;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;

    resize: none;

    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

#page-live .enter-wrapper {
    width: 90%;
}

#page-live .weui-tabbar .emoji-btn {
    font-size: 30px;

    display: block;

    width: 50px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;

    text-align: center;

    color: #999;
    border: none;
    outline: none;
    background-color: transparent;
    height: 44px;
    line-height: 0px;
}

#page-live .weui-tabbar .send-btn {
    font-size: 16px;
    line-height: 30px;

    display: block;

    width: 70px;
    height: 30px;
    margin-right: 10px;

    text-align: center;
    margin-bottom: 7px;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #317ef3;
}


img.emoji {
    width: 1.8em;
}


#page-vip .avatar {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #eee;
    background-size: cover;
    margin-right: 5px;
    border-radius: 50%;
}

#page-vip .deadline {
    font-size: .8em;
    margin-top: .2em;
}

#page-vip .pay-btn {}

#page-vip .weui-grid__icon {
    text-align: center;
    font-size: 1.5em;
    color: #317ef3;
}


/*****#page-user-info*****/

#cutter-popup .img-container {
    width: 100%;
    height: 400px;
}
